<h1>Bonne nouvelle {{name}}, votre objet a été retrouvé</h1>
<p>Nous avons une bonne nouvelle pour vous, quelqu'un a trouvé votre objet</p>
<p>Voici la description qu'il en fait: "{{description}}"</p>
<p>Rendez-vous vite <a href="http://localhost:4200/profile/transactions">ici </a>pour le récupérer.</p>
