<h1>Bonjour {{name}},</h1>
<p>
    Le propiétaire de l'objet "{{description}}" que vous avez déclaré avoir
    trouvé vient de procéder au paiement pour pouvoir vous contacter.
</p>
<p>
    Nous venons de lui communiquer votre adresse email et votre numéro de
    téléphone afin qu'il puisse vous joindre.
</p>
<p>
    Dès que vous aurez effectué la restitution vous recevrez un versement de 10€
    en récompense de votre implication.
</p>
<p>
    L'équipe QueyRing vous remercie pour votre aide et espère vous revoir bientôt
    en tant que client sur notre plateforme. Nous vous rappelons que nos porte-clés
    QueyRing sont disponibles gratuitement chez notre partenaire Mines Nancy.
</p>
<p>
    Cordialement,
</p>
<p>
    Loïc de QueyRing
</p>
