<h1>Bonjour {{name}},</h1>
<p>
    Votre paiement à bien été pris en compte. Nous vous remerçions pour la
    confiance que vous accordez à QueyRing.
</p>
<p>
    Vous pouvez maintenant contacter la personne qui a retrouvé votre objet
    avec les informations suivantes:
</p>
<p>
    Adresse email: {{mail}}
</p>
<p>
    Numéro de téléphone: {{phone}}
</p>
<p>
    Ces informations sont également disponibles via votre espace client sur le
    site QueyRing.com
</p>
<p>
    L'échange sera considéré comme effectué dans une délai de 7 jours. Durant
    ce délai vous avez la possibilité de déclarer l'objet comme récupéré,
    de déclarer un conflit avec le trouveur ou bien de demander une prolongation
    du délai d'acceptation via votre espace client.
</p>
<p>
    En cas de conflit avec le trouveur, QueyRing.com s'engage à vous rembourser
    la somme investie mais ne peut en aucun cas être tenue comme responsable de
    la non-restitution de votre bien. Conformément aux conditions générales
    d'utilisation.
</p>
<p>
    L'équipe QueyRing vous remercie d'utiliser nos services espère vous revoir bientôt
    sur notre plateforme.
</p>
<p>
    Cordialement,
</p>
<p>
    Loïc de QueyRing
</p>
